@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 800px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.05;
    text-align: left;
}

h2 {
    font-size: 2.2rem;
    line-height: 1.05;
    text-align: center;
}

p {
    font-size: 1.125rem;
    line-height: 1.2;
}

.question-title {
    width: 800px;
    height: 240px;
    background-color: rgb(102, 69, 221);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.questions-container {
    margin: 16px 0 23px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-block {
    width: 370px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 15px;
    text-align: center;
  }

img{
    margin: 20px;
    width: 200px;
    height: 200px;
}

.id_question{
    display: none;
}

.answer-block{
    width: 800px;
    background-color: rgb(255, 61, 158);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.answer-block img{
    width: 400px;
    height: 400px;
}
